/* Place CSS styles here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    font-size: 15px;
    color: #0f0f0f;
    font-weight: 500;
    text-decoration: none;
    margin-left: 22px;
    }

.logo {
    font-size: 18px;
    color:#0f0f0f;
    text-decoration: none;
         
    }

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.intro p{
    font-size: 38px;
}

.graphic-title{
    display: flex;
    justify-content: center;
    padding-top: 78px;
    margin:0;
    margin-bottom: 62px;
    
}

.traditional-title{
    display: flex;
    justify-content: center;
    padding-top: 78px;
    margin:0;
    margin-bottom: 62px;
}

.grid {
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
}

 img{
    width: 100%;
    height: auto;
    object-fit:cover;
    aspect-ratio: 1;
   
}

.bold-intro{
    font-weight: bold;
}


